<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>CloudChart takes the pain out of your cloud</h2>

        <p class="lead">From IAM to EC2, see what's running, whether it's running and how much it's
          costing you.</p>

        <p>AWS is powerful, but the Web interface is a drag. Even if you know what you're doing,
          clicking around the menus eats away at your valuable time.</p>

        <p>CloudChart uses the AWS API to understand your infrastructure and present it in a much
          more user-friendly way.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
