<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>CloudChart takes the pain out of your cloud</h2>

        <p class="lead">AWS is a powerful platform, but administration can be a real headache.</p>

        <p>CloudChart gives you the user experience you deserve for monitoring and managing your AWS
          infrastructure.</p>

        <p>Using the AWS API, your resources are not just visualised, but common tasks can be
          performed in a single click.</p>

        <br />

        <div class="alert alert-warning" role="alert">
          <p><strong>Warning!</strong> CloudChart is still heavily under development, and production
          use is not recommended.</p>
          <p>On the other hand, <a href="https://github.com/orlade/cloudchart"
            title="CloudChart on GitHub"><i class="fa fa-github"></i> CloudChart is open source</a>
            so if you like it, lend a hand!</p>
        </div>
      </div>
    </div>
  </div>
</section>
