<section id="features" class="features bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Features</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4 col-sm-8">
            <div class="feature-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cloud fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Cloud at a Glance</strong>
              </h4>
              <p>Visualise all of your AWS resources in beautiful, information-dense dashboards.</p>
              <a href="/features/visualize" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-8">
            <div class="feature-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-compass fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Up to date</strong>
              </h4>
              <p>Synchronize CloudChart with your AWS environment to see the latest status.</p>
              <a href="/features/synchronize" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-8">
            <div class="feature-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-flask fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>One-click Management</strong>
              </h4>
              <p>Provde CloudChart with write access and perform common maintenance tasks instantly.</p>
              <a href="/features/manage" class="btn btn-light">Learn More</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
